<% @full_hero_unit = capture do %>
  <h1 class="index_hero_unit">Fire.app</h1>
  <p>Fire.app is a menubar only app for fast HTML prototyping. You can get the <a href="https://github.com/handlino/fireapp-beginner-example">source code of this sample site code</a> on GitHub.
  <p><a href="http://fireapp.handlino.com/" class="btn btn-primary btn-large">Fire.app official site &raquo;</a></p>
<% end %>
<p class="alert alert-info">This page uses layout special_index_layout.html.erb.</p>

<div class="well">
    <h2>You can use cookie to emulate state</h2>
    <% if request.cookies['logged_in'] %>
    <p>logged in. <a href="/logout.html">logout</a>.</p>
    <% else %>
    <p>not logged in. <a href="/login.html">login</a>.</p>
    <% end %>
</div>
<div class="row-fluid">
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="products/detail.html">View details &raquo;</a></p>
    </div><!--/span-->
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="products/detail.html">View details &raquo;</a></p>
    </div><!--/span-->
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="products/detail.html">View details &raquo;</a></p>
    </div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="products/detail.html">View details &raquo;</a></p>
    </div><!--/span-->
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="products/detail.html">View details &raquo;</a></p>
    </div><!--/span-->
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="products/detail.html">View details &raquo;</a></p>
    </div><!--/span-->
</div><!--/row-->
