/* line 1, ../sass/default.scss */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* line 6, ../sass/default.scss */
.sidebar-nav {
  padding: 9px 0;
}

/* line 10, ../sass/default.scss */
h1.index_hero_unit {
  background: url("/images/logo.png") left top no-repeat;
  display: block;
  height: 70px;
  padding-left: 140px;
  padding-top: 60px;
}

/* line 18, ../sass/default.scss */
.promote {
  padding-bottom: 1em;
}

/* line 22, ../sass/default.scss */
.product_row {
  min-height: 190px;
  padding-top: 1em;
}

/* line 28, ../sass/default.scss */
.product img {
  float: left;
}
/* line 31, ../sass/default.scss */
.product dl {
  margin-left: 160px;
}
/* line 33, ../sass/default.scss */
.product dl dt {
  font-size: 1.4em;
  padding-bottom: 0.5em;
}
/* line 37, ../sass/default.scss */
.product dl dd.buynow {
  padding-top: 1em;
}

/* line 43, ../sass/default.scss */
.main-product-img {
  margin-right: 2em;
}
